@media (min-width: 580px){
    #redes{
        width: 40%;
        height: auto;
    }
    }

    @media (max-width: 580px){
        #menuIndex{
            div{
                display: block;
                
                article{
                    margin: auto;
                    width: 100%;
                }
            }
            
        }
        }

        @media (max-width: 580px){
            #productos{
                div{
                    display: block;
                    
                    article{
                        margin: auto;
                        width: 100%;
                    }
                }
                
            }
            }

            @media (max-width: 580px){
                #tutoriales{
                    div{
                        display: block;
                        
                        article{
                            margin: auto;
                            width: 100%;
                        }
                    }
                    
                }
                }
